.container {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}
.left {
    float: left;
    width: 40%;
    padding: 20px;
}

.right {
    float: none;
    width: 60%;
    padding: 20px;
}



h1, h2, h3, h4 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
